.example-wrap{
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

button.open-modal {
    padding: 15px 30px;
    font-size: 18px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button.open-modal:hover {
    background-color: #0056b3;
}

.modal {
    visibility: hidden;
    /* 默认隐藏 */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.modal.active {
    visibility: visible;
    opacity: 1;
    /* 使模态窗体可见 */
}

.modal-content {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transform: scale(0.8) translate(-50%, -50%);
    transition: transform 0.3s;
    width: 500px;
    position: absolute;
    left: 50%;
    top: 50%;
}

.modal-content>p {
    padding: 30px 0;
}

.modal.active .modal-content {
    transform: scale(1) translate(-50%, -50%);
    /* 放大效果 */
}

.close-button {
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    top: 10px;
    right: 20px;
    color: #aaa;
    transition: color 0.3s;
}

.close-button:hover {
    color: #000;
}