* {
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}


.button {
    width: 200px;
    height: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    border: 1px solid #000;
}

.button.active {
    border: none
}

.button.active>.top-border {
    background: #000;
    position: absolute;
    left: 0;
    top: 0;
    animation: horizontal-line 0.5s forwards;
}

.button.active>.right-border {
    background: #000;
    position: absolute;
    left: 100%;
    top: 0;
    animation: vertical-line 0.5s forwards;
    animation-delay: 0.5s;

}

.button.active>.bottom-border {
    background: #000;
    position: absolute;
    top: 100%;
    animation: horizontal-line 0.5s forwards, left-move 0.5s forwards;
    animation-delay: 1s;
}

.button.active>.left-border {
    background: #000;
    position: absolute;
    left: 0;
    top: 100%;
    animation: vertical-line 0.5s forwards, top-move 0.5s forwards;
    animation-delay: 1.5s;
}

.button.active>.content {
    transform: scale(0);
    animation: show 0.5s forwards;
    animation-delay: 2s;
}

@keyframes show {
    0% {
        transform: scale(0);
    }

    80% {
        transform: scale(1.4);
    }

    100% {
        transform: scale(1);
    }
}


@keyframes left-move {
    0% {
        left: calc(100% + 3px);
    }

    100% {
        left: 0%;
    }
}

@keyframes top-move {
    100% {
        top: 0%;
    }
}

@keyframes horizontal-line {
    0% {
        width: 0%;
        height: 3px
    }

    100% {
        width: calc(100% + 3px);
        height: 3px
    }
}

@keyframes vertical-line {
    0% {
        width: 3px;
        height: 0%;
    }

    100% {
        width: 3px;
        height: 100%;
    }
}