* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
}

.banner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner__wrap {
    list-style: none;
    display: flex;
    width: 100%;
    height: 500px;
    position: relative;
    overflow: hidden;
}

.banner__item {
    width: 200px;
    height: 200px;
    background: yellow;
    display: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all 2s;

}

.banner__item>img {
    width: 100px;
    height: 100px;
}

.banner__item:nth-child(1) {
    transform: translateY(-50%) translateX(-200%) scale(1);
    display: flex;
    left: 0%;
}

.banner__item:nth-child(2) {
    transform: translateY(-50%) scale(1);
    display: flex;
    left: 0%;
}

.banner__item:nth-child(3) {
    transform: translateY(-50%) translateX(-32.5%) scale(1.3);
    display: flex;
    left: 25%;
}

.banner__item:nth-child(4) {
    transform: translateY(-50%) translateX(-50%) scale(1.5);
    display: flex;
    left: 50%;
}

.banner__item:nth-child(5) {
    transform: translateY(-50%) translateX(-62.5%) scale(1.3);
    display: flex;
    left: 75%;
}

.banner__item:nth-child(6) {
    transform: translateY(-50%) translateX(-100%) scale(1);
    display: flex;
    left: 100%;
}

.banner__item:nth-child(7) {
    transform: translateY(-50%) translateX(100%) scale(1);
    display: flex;
    left: 100%;
}