* {
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.button {
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    /* animation: show 1s infinite; */
    /* background: red; */
    position: relative;
    /* overflow: hidden; */
    animation: rotate 2.5s forwards;
    display: flex;
    justify-content: center;
    align-items: center;
    color: transparent;
    font-weight: 700;
}

@keyframes rotate {
    0% {
        width: 300px;
        height: 300px;
    }

    80% {
        width: 300px;
        height: 300px;
        transform: rotate(720deg);
    }

    90% {
        width: 30px;
        height: 30px;
        background: transparent;
        color: transparent;
        box-shadow: none;
    }

    100% {
        width: 60px;
        height: 60px;
        border-radius: 15px;
        color: #fff;
        background: rgb(55, 165, 223);
        box-shadow: 0px 3px 3px 3px rgba(0, 0, 0, 0.4);
    }

}


.content::before {
    content: '';
    background: url('/example/19/img/line.svg') no-repeat;
    background-size: 100% 100%;
    position: absolute;
    animation: rotate-top-in 2.5s forwards;
}

.content::after {
    content: '';
    background: url('/example/19/img/line.svg') no-repeat;
    background-size: 100% 100%;
    position: absolute;
    animation: rotate-bottom-in 2.5s forwards;
}



@keyframes rotate-top-in {
    0% {
        width: 80px;
        height: 100px;
        top: -20%;
        left: 50%;
        transform: translateX(-50%) rotate(225deg);
    }


    10% {
        width: 80px;
        height: 100px;
        top: 50%;
        left: 80%;
        transform: translate(-50%, -50%) rotate(270deg);
    }


    100% {
        width: 0;
        height: 0;
        background-size: 0% 0%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(270deg);
    }


}

@keyframes rotate-bottom-in {
    0% {
        width: 80px;
        height: 100px;
        bottom: -20%;
        right: 50%;
        transform: translateX(50%) rotate(45deg);
    }

    10% {
        width: 80px;
        height: 100px;
        bottom: 50%;
        right: 80%;
        transform: translate(50%, 50%) rotate(90deg);
    }

    100% {
        width: 0;
        height: 0;
        background-size: 0% 0%;
        bottom: 50%;
        right: 50%;
        transform: translate(50%, 50%) rotate(90deg);
    }

}