* {
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    /* background-color: #f0f0f0; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.play {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    width: 160px;
    height: 160px;
    background: red;
    border-radius: 50%;
    z-index: 1;
    cursor: pointer;
}

.play>.button::after {
    content: '';
    border: 50px solid transparent;
    border-left-color: #fff;
    border-radius: 5px;
    position: absolute;
    left: 110px;
    top: 50%;
    transform: translate(-50%, -50%);
}

.play>.mask {
    width: 160px;
    height: 160px;
    position: absolute;
    border-radius: 50%;
    z-index: 0;
    background: rgb(255, 0, 0, 0.3);
}

.play.active .mask {
    width: 160px;
    height: 160px;
    position: absolute;
    border-radius: 50%;
    z-index: 0;
    background: rgb(255, 0, 0, 0.4);
    animation: wave 0.7s ease-in-out;
}


@keyframes wave {
    75% {
        width: 220px;
        height: 220px;
    }

    100% {
        opacity: 0;
    }
}