* {
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}


.button {
    background: rgb(65, 180, 208);
    width: 150px;
    height: 60px;
    border-radius: 30px;
    cursor: pointer;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.button::after {
    content: 'Next';
    font-weight: 700;
    letter-spacing: 2px;

}

.button.active {
    width: 60px;
    height: 60px;
    background: rgb(84, 196, 151);
    animation: toggle 3s;
}

.button.active::after {
    content: '';
    display: block;
    width: 40px;
    height: 40px;
    background-image: url('./assets/success.svg');
    background-repeat: no-repeat;
    background-size: 40px;
    animation: content 3s;
}


@keyframes content {
    0% {
        background: url('./assets/loading.svg') 0/40px no-repeat;
    }

    75% {
        background: url('./assets/loading.svg') 0/40px no-repeat;
        transform: rotate(720deg);
    }

    100% {
        background: url('./assets/success.svg') 0/40px no-repeat;
        transform: rotate(1080deg);
    }
}

@keyframes toggle {
    0% {
        width: 150px;
        height: 60px;
        background: rgb(65, 180, 208);
    }

    50% {
        width: 60px;
        height: 60px;
        background: rgb(65, 180, 208);
    }

    90% {
        background: rgb(65, 180, 208);
    }

    100% {
        width: 60px;
        height: 60px;
        background: rgb(84, 196, 151);
    }
}