* {
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}


.button {
    cursor: pointer;
    color: #fff;
    font-weight: 700;
    position: relative;
    width: 150px;
    height: 60px;
    background: rgb(47, 107, 224);
    /* background: rgb(219, 73, 72); */
    border-radius: 30px;
    letter-spacing: 2px;
    overflow: hidden;
}

.button.active {
    animation: toggle-bg 0.7s ease-out forwards;
}

@keyframes toggle-bg {
    30% {
        width: 180px;
        background: rgb(47, 107, 224);
    }

    60% {
        width: 60px;
        background: rgb(47, 107, 224);
    }

    100% {
        width: 150px;
        background: rgb(219, 73, 72);
    }

}

.pay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 60px;
}


.canceled {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button.active>.pay span {
    animation: word-out 0.3s forwards ease-out;
}


.canceled span {
    transform: translateY(200%);
}

.button.active>.canceled span {
    animation: word-in 0.3s forwards ease-in;
}


.button.active>.canceled {
    animation-delay: 1s !important;
    animation: shake 1s;
}

@keyframes word-out {
    100% {
        transform: translateY(200%);
    }
}

@keyframes word-in {
    100% {
        transform: translate(0, 0);
    }
}

@keyframes shake {
    10% {
        transform: translate(-60%, -50%);
    }

    20% {
        transform: translate(-40%, -50%);
    }

    30% {
        transform: translate(-60%, -50%);
    }

    40% {
        transform: translate(-40%, -50%);
    }

    45% {
        transform: translate(-45%, -50%);
    }

    50% {
        transform: translate(-55%, -50%);
    }

    55% {
        transform: translate(-50%, -50%);
    }
}