* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
}

.bg {
    width: 100%;
    height: 100%;
    /* background: rgb(31, 31, 31); */
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading {
    width: 120px;
    height: 20px;
    border-radius: 20px;
    border: 2px solid #514b82;
    position: relative;
}

.loading::before {
    content: "";
    position: absolute;
    display: block;
    margin: 2px;
    inset: 0 100% 0 0;
    border-radius: inherit;
    background: #514b82;
    animation: cartoon 2s infinite;
}

@keyframes cartoon {
    100% {
        inset: 0;
    }
}