body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #f0f0f0; */
}

.card {
    background: white;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 300px;
    text-align: center;
    position: relative;
    overflow: hidden;

    /* 平滑滑动效果 */
}

.extra-content {
    display: none;
    /* 默认隐藏额外内容 */
}

#toggleBtn {
    transition: all .5s;
}

.card.expanded #toggleBtn {
    margin-top: 300px;
}

.card.expanded .extra-content {
    display: block;
    /* 显示额外内容 */
}

h2 {
    margin: 0 0 10px 0;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #6200ea;
    color: white;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #3700b3;
}