* {
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

:root {
    /* speed */
    --speed: 2;
    --submit-out-time: calc(0.5s / var(--speed));
    --success-in-time: calc(1s / var(--speed));
    --progress-time: calc(2s / var(--speed));
    --change-background-time: calc(var(--submit-out-time) + var(--progress-time));
    --submit-change-background-time: calc(var(--change-background-time) / 5);
}

.submit {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.success {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    opacity: 0;
}

.button {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    overflow: hidden;
    color: #fff;
    letter-spacing: 0.1rem;
    background: rgb(206, 95, 216);
    border: 2px solid rgb(206, 95, 216);
    position: relative;
    cursor: pointer;
    user-select: none;
    font-weight: 700;
}

.button.active::after {
    content: "";
    position: absolute;
    margin: 4px;
    inset: 0 100% 0 0;
    border-radius: inherit;
    background: rgb(206, 95, 216);
    animation: progress-bar var(--progress-time) forwards;
    animation-delay: calc(var(--submit-change-background-time) + var(--submit-out-time))
}

.button.active>.submit {
    animation: submit-out ease-out var(--submit-out-time) forwards;
}

.button.active>.success {
    animation: success-in var(--success-in-time) forwards;
    animation-delay: calc(var(--change-background-time) + var(--submit-change-background-time));
}

.button.active {
    animation: background-change ease-in var(--change-background-time);
    animation-delay: var(--submit-out-time);
}

@keyframes background-change {

    20%,
    100% {
        background: #fff;
    }
}

@keyframes progress-bar {
    to {
        inset: 0;
        visibility: hidden;
    }
}

@keyframes submit-out {
    99% {
        bottom: -20%;
        opacity: 0;
    }

    100% {
        bottom: -100%;
    }
}

@keyframes success-in {
    100% {
        opacity: 1;
    }
}