* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
}

.bg {
    width: 100%;
    height: 100%;
    /* background: rgb(31, 31, 31); */
    display: flex;
    justify-content: center;
    align-items: center;
}


.loading {
    width: 120px;
    height: 20px;
    background: linear-gradient(rgb(12, 132, 223), rgb(12, 132, 223)) no-repeat #ddd;
    background-size: 0%;
    animation: cartoon 2s infinite linear;
}

@keyframes cartoon {
    100% {
        background-size: 100%;
    }
}